Repository cesko-digital/volebni-kalkulacka-2022, pull requests merged in 2022-12, with the labels that each got.

#272 Fix pre-commit configuration
  .gitignore
  .pre-commit-config.yaml
  frontend/prisma/migrations/init/migration.sql
  frontend/prisma/schema.prisma
Labels: devops

#263 Refactor and document theming
  frontend/docs/theming.md
  frontend/src/assets/main.css
  frontend/src/components/ThemeProvider.vue
  frontend/src/components/WebProvider.vue
  frontend/src/components/__tests__/utilities/theming/ThemeProvider.spec.ts
  frontend/src/components/embeds/BleskEmbed.vue
  frontend/src/components/embeds/E15Embed.vue
  frontend/src/components/embeds/IdnesEmbed.vue
  frontend/src/components/embeds/SeznamZpravyEmbed.vue
  frontend/src/components/themes/BleskTheme.scss
  frontend/src/components/themes/DefaultTheme.vue
  frontend/src/components/themes/E15Theme.scss
  frontend/src/components/themes/IdnesTheme.scss
  frontend/src/components/themes/SeznamZpravyTheme.scss
  frontend/src/components/utilities/theming/ThemeKey.ts
  frontend/src/components/utilities/theming/ThemeProvider.vue
  frontend/src/components/utilities/theming/ThemeProviderWrapper.vue
Labels: documentation, frontend, refactoring

#260 Refactor and document embed wrapper
  frontend/docs/embedding.md
  frontend/src/components/EmbedProvider.vue
  frontend/src/components/__tests__/utilities/embedding/EmbedProvider.spec.ts
  frontend/src/components/__tests__/utilities/embedding/WebProvider.spec.ts
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/components/design-system/style/BackgroundComponent.vue
  frontend/src/components/embeds/BleskEmbed.vue
  frontend/src/components/embeds/E15Embed.vue
  frontend/src/components/embeds/IdnesEmbed.vue
  frontend/src/components/embeds/SeznamZpravyEmbed.vue
  frontend/src/components/utilities/embedding/EmbedKey.ts
  frontend/src/components/utilities/embedding/EmbedProvider.vue
  frontend/src/components/utilities/embedding/EmbedProviderWrapper.vue
  frontend/src/components/utilities/embedding/EmbedWrapper.vue
  frontend/src/components/utilities/embedding/WebProvider.vue
  frontend/src/main.ts
  frontend/src/routes/comparison/ComparisonPage.vue
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/src/routes/share/SharePage.vue
Labels: documentation, frontend, refactoring

#273 Refactor & document sizing & spacing
  frontend/docs/responsivity.md
  frontend/docs/theming.md
  frontend/src/components/InfoBubble.vue
  frontend/src/components/QuestionCard.vue
  frontend/src/components/design-system/configurations/sizing-and-spacing.ts
  frontend/src/components/design-system/containers/CardComponent.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/comparison/ComparisonGrid.vue
  frontend/src/routes/index/IndexPage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
  frontend/src/routes/result/ResultCandidateCard.vue
Labels: documentation, frontend, refactoring

#274 Don't mount App in body tag
  frontend/index.html
  frontend/src/main.ts
Labels: frontend, refactoring

#271 Add Storybook
  frontend/.eslintrc.cjs
  frontend/.storybook/main.ts
  frontend/.storybook/preview-head.html
  frontend/.storybook/preview.ts
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
Labels: devops, frontend

#307 Setup environment variables
  frontend/.env.development
  frontend/.env.preview
  frontend/.env.production
  frontend/.env.test
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/share.ts
Labels: devops, frontend

#308 Fix Vercel preview database
  frontend/api/prisma.ts
  frontend/src/server/prisma.ts
Labels: bug, devops

#309 Fix Vercel build script
  frontend/vercel-build.sh
Labels: bug, devops

#270 Bump frontend dependencies
  .github/workflows/frontend.yaml
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, dependencies

#301 Introduce TimelineComponent
  frontend/src/components/design-system/containers/TimelineComponent.stories.ts
  frontend/src/components/design-system/containers/TimelineComponent.vue
  frontend/src/components/design-system/containers/TimelineItemComponent.vue
  frontend/src/components/themes/DefaultTheme.scss
Labels: frontend

#303 Introduce TextInputComponent
  frontend/src/components/design-system/input/TextInputComponent.stories.js
  frontend/src/components/design-system/input/TextInputComponent.vue
Labels: frontend

#298 Add „sign in with …“ buttons
  frontend/src/components/design-system/icons/SocialMediaIcon.vue
  frontend/src/components/design-system/icons/index.ts
  frontend/src/components/design-system/icons/vkiEnvelopeOutlined.ts
  frontend/src/components/design-system/input/ButtonComponent.stories.ts
  frontend/src/components/design-system/input/ButtonComponent.vue
Labels: frontend

#313 Introduce PillGroupComponent
  frontend/src/components/design-system/containers/PillComponent.stories.js
  frontend/src/components/design-system/input/PillGroupComponent.stories.ts
  frontend/src/components/design-system/input/PillGroupComponent.vue
  frontend/src/components/design-system/input/PillGroupItemComponent.vue
Labels: frontend

#221 Fix logo link
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/components/design-system/style/LogoComponent.vue
Labels: bug

#315 Refactor answers endpoints to serverless functions
  frontend/api/answers/[id].ts
  frontend/api/answers/index.ts
  frontend/api/hello.ts
  frontend/api/prisma.ts
  frontend/api/test.js
  frontend/prisma/migrations/20221201000000_init/migration.sql
  frontend/prisma/migrations/20221222174349_add_answers/migration.sql
  frontend/prisma/migrations/migration_lock.toml
  frontend/prisma/schema.prisma
  frontend/src/server/errors.ts
  frontend/src/server/prisma.ts
Labels: backend, feature, refactoring

#320 Fix routing and initialization of store
  frontend/src/main.ts
  frontend/src/routes/error/ErrorPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/stores/electionStore.ts
Labels: frontend, refactoring

#326 Clean up old migrations
  frontend/prisma/migrations/20221201000000_init/migration.sql
  frontend/prisma/migrations/20221222174349_add_answers/migration.sql
Labels: backend, refactoring

#321 update of texts to frontpage
  frontend/src/routes/index/IndexPage.vue
Labels: frontend, web

#328 Deploy different branch on AWS
  .github/workflows/backend-deploy.yaml
Labels: devops

#330 Deploy different branch on AWS vol. 2
  .github/workflows/frontend.yaml
Labels: devops

#331 Update database structure
  frontend/api/answers/[id].ts
  frontend/api/answers/index.ts
  frontend/prisma/migrations/20221223164438_rename_value_to_answers/migration.sql
  frontend/prisma/migrations/20221223165141_add_matches_column/migration.sql
  frontend/prisma/migrations/20221223171404_add_election_and_district_id/migration.sql
  frontend/prisma/schema.prisma
Labels: enhancement, backend

#300 Local development setup
  frontend/.env.development.local.example
  frontend/.gitignore
  frontend/docs/development.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/server/prisma.ts
  frontend/vercel-build.sh
  frontend/vite.config.ts
Labels: documentation, devops

#333 Add esbuild
  frontend/package-lock.json
  frontend/package.json
Labels: devops, frontend

#325 Change to the skip flow with no button
  frontend/src/components/design-system/configurations/sizing-and-spacing.ts
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionBottomBar.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
Labels: enhancement, frontend

#349 Add answers to presidential election vol. 1
  data/kalkulacka/prezidentske-2023-kolo-1/global.json
Labels: data, volby:prezidentske-2023

#354 Update presidential election 2023 data vol. 1
  data/kalkulacka/prezidentske-2023-kolo-1/global.json
Labels: data, volby:prezidentske-2023

#353 Fix presidential election 2023 data generation
  generator/generator/prezidentske_2023.py
Labels: bug, data, volby:prezidentske-2023

#346 Simplify `BackgroundComponent`
  .gitignore
  frontend/src/assets/background/blue-blob.svg
  frontend/src/assets/background/red-blob.svg
  frontend/src/assets/background/round-blue-spot-single.svg
  frontend/src/assets/background/round-blue-spot.svg
  frontend/src/assets/background/round-gray-spot.svg
  frontend/src/assets/background/round-red-spot-single.svg
  frontend/src/assets/background/round-red-spot.svg
  frontend/src/assets/background/round-white-spot.svg
  frontend/src/assets/background/spot_blue.svg
  frontend/src/assets/background/spot_red.svg
  frontend/src/components/design-system/style/BackgroundComponent.vue
Labels: bug, frontend, refactoring

#327 Refactor saving answers to use the new API
  frontend/package.json
  frontend/parseRestSchemas.cjs
  frontend/parseSchemas.cjs
  frontend/src/common/restApi.ts
  frontend/src/common/share.ts
  frontend/src/components/design-system/input/TextInputComponent.vue
  frontend/src/main.ts
  frontend/src/routes/result/ResultPage.vue
  frontend/src/routes/share/SharePage.vue
  frontend/src/stores/electionStore.ts
Labels: frontend

#350 Update About us copy
  frontend/src/routes/about-us/AboutUsPage.vue
Labels: frontend, web

#352 Update Open Graph data
  frontend/index.html
  frontend/public/images/og-image.png
Labels: frontend

#358 Generate multiple calculators data for presidential election 2023
  data/kalkulacka/calculators.json
  data/kalkulacka/prezidentske-2023-kolo-test/pro-kazdeho-1-kolo.json
  data/kalkulacka/prezidentske-2023-kolo-test/pro-mladistve-1-kolo.json
  data/kalkulacka/prezidentske-2023-kolo-test/pro-politicke-nadsence-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-kazdeho-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-mladistve-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-politicke-nadsence-1-kolo.json
  frontend/src/common/utils.ts
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  generator/converter.py
  generator/generator/prezidentske_2023.py
Labels: frontend, data, refactoring

#347 Create questions creation methodology page
  frontend/src/main.ts
  frontend/src/routes/about-us/AboutUsPage.vue
  frontend/src/routes/questions-methodology/QuestionsMethodologyPageVue.vue
Labels: frontend, web, feature

#360 Update homepage for presidential election 2023
  frontend/src/components/design-system/style/BlobComponent.vue
  frontend/src/components/design-system/typography/BodyText.vue
  frontend/src/routes/index/IndexPage.vue
Labels: frontend, web, volby:prezidentske-2023

#359 Fix Vercel config
  frontend/vercel.json
Labels: bug, devops

#362 Add Vercel config for local development
  frontend/package.json
  frontend/vercel.dev.json
Labels: bug, devops

#361 Update guide copy to skip flow
  frontend/src/routes/guide/GuidePage.vue
Labels: enhancement, frontend

#363 Fix API rewrite on Vercel
  frontend/vercel.json
Labels: bug, devops

#364 Add question UUID support to generator
  data/kalkulacka/prezidentske-2023-kolo-test/pro-kazdeho-1-kolo.json
  data/kalkulacka/prezidentske-2023-kolo-test/pro-mladistve-1-kolo.json
  data/kalkulacka/prezidentske-2023-kolo-test/pro-politicke-nadsence-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-kazdeho-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-mladistve-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-politicke-nadsence-1-kolo.json
  generator/generator/extract_helpers.py
Labels: enhancement, data

#356 Update favicon & add shortcut icons
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/icons/apple-touch-icon.png
  frontend/public/icons/favicon.ico
  frontend/public/icons/icon-192.png
  frontend/public/icons/icon-512.png
  frontend/public/icons/icon.svg
  frontend/public/icons/manifest.webmanifest
Labels: enhancement, frontend, web

#365 Use hardcoded UUID for calculators
  data/kalkulacka/prezidentske-2023/pro-kazdeho-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-mladistve-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-politicke-nadsence-1-kolo.json
  generator/generator/prezidentske_2023.py
Labels: enhancement, data

#366 Change answer buttons copy to "Ano" / "Ne"
  frontend/src/routes/question/QuestionBottomBar.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
Labels: enhancement, frontend

#373 Bump dependencies
  frontend/package-lock.json
Labels: frontend, backend, dependencies

#372 Hotfix results when there are no candidate parties
  frontend/src/routes/result/ResultCandidateCard.vue
Labels: bug, frontend

#371 Clean up Vercel config
  frontend/vercel.json
Labels: devops

#370 Disable saving answers for old calculators
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#376 Add calculator ID to calculators list
  data/kalkulacka/calculators.json
  generator/generator/generate.py
Labels: data

#375 Save only candidate ID in answers
  frontend/src/common/restApi.ts
  frontend/src/types/rest/ResultIn.d.ts
Labels: frontend, refactoring

#374 Hotfix hiding candidates for second round
  frontend/src/routes/result/ResultPage.vue
Labels: bug, frontend

#377 Drop calculator and election ID from database
  frontend/api/answers/[id].ts
  frontend/api/answers/index.ts
  frontend/prisma/migrations/20221228164532_remove_election_and_district_id_from_answers/migration.sql
  frontend/prisma/schema.prisma
  frontend/src/common/dataFetch.ts
  frontend/src/common/restApi.ts
Labels: frontend, backend, refactoring

#379 Add UUIDs to candidates
  data/kalkulacka/prezidentske-2023/pro-kazdeho-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-mladistve-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-politicke-nadsence-1-kolo.json
  generator/generator/extract_helpers.py
Labels: data

#378 Don't save skipped answers & use booleans
  frontend/src/common/restApi.ts
  frontend/src/stores/electionStore.ts
Labels: frontend, refactoring

#380 Revert wrongly staged line
  frontend/src/routes/result/ResultPage.vue
Labels: bug, frontend

#381 Save important only if set
  frontend/package.json
  frontend/src/common/restApi.ts
  frontend/src/types/rest/Answer.schema.json
  frontend/src/types/rest/Match.d.ts
  frontend/src/types/rest/ResultIn.d.ts
Labels: frontend, refactoring

#382 Use TIMESTAMPTZ for created and updated at columns
  frontend/prisma/migrations/20221228185003_add_timezone/migration.sql
  frontend/prisma/schema.prisma
Labels: backend

#383 Update questions
  data/kalkulacka/prezidentske-2023/pro-kazdeho-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-mladistve-1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-politicke-nadsence-1-kolo.json
Labels: data

#385 Update URL environment variables
  frontend/.env.development.local.example
  frontend/.env.production
Labels: bug, devops

#369 Improve presidential homepage
  frontend/src/assets/prezidenti-2023/andrej-babis.jpg
  frontend/src/assets/prezidenti-2023/danuse-nerudova.jpg
  frontend/src/assets/prezidenti-2023/jaroslav-basta.jpg
  frontend/src/assets/prezidenti-2023/josef-stredula.jpg
  frontend/src/assets/prezidenti-2023/karel-divis.jpg
  frontend/src/assets/prezidenti-2023/marek-hilser.jpg
  frontend/src/assets/prezidenti-2023/pavel-fischer.jpg
  frontend/src/assets/prezidenti-2023/petr-pavel.jpg
  frontend/src/assets/prezidenti-2023/tomas-zima.jpg
  frontend/src/components/design-system/style/BlobComponent.vue
  frontend/src/routes/index/IndexPage.vue
Labels: enhancement, frontend, web

#390 Fix title casing
  frontend/index.html
  frontend/src/main.ts
Labels: bug, frontend

#388 Update home page copy
  frontend/src/routes/index/IndexPage.vue
Labels: enhancement, frontend, web

#391 Update hardcoded guide copy
  frontend/src/routes/guide/GuidePage.vue
Labels: enhancement, frontend

#392 Wrap tags on question card
  frontend/src/components/QuestionCard.vue
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/routes/question/QuestionCard.vue
Labels: bug, frontend

#389 Hide back button in guide
  frontend/src/routes/guide/GuidePage.vue
Labels: enhancement, frontend

#393 Fix Twitter sharing
  frontend/src/components/design-system/icons/SocialMediaIcon.vue
  frontend/src/routes/result/ResultShareModal.vue
Labels: bug, frontend

#395 Remove text 'others have not replied'
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#387 Superhotfix comparsion
  frontend/src/routes/comparison/ComparisonGrid.vue
Labels: enhancement, frontend

#394 Rename calculators
  data/kalkulacka/calculators.json
  data/kalkulacka/prezidentske-2023/1-kolo.json
  data/kalkulacka/prezidentske-2023/pro-kazdeho.json
  data/kalkulacka/prezidentske-2023/pro-mlade.json
  data/kalkulacka/prezidentske-2023/pro-nadsence.json
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/index/IndexPage.vue
  generator/generator/prezidentske_2023.py
Labels: frontend, data

#396 Fix typos
  frontend/src/components/DonateBlock.vue
  frontend/src/routes/result/ResultCandidateCard.vue
Labels: bug, frontend

#397 Manually add avatar images for presidential election 2023
  data/avatars/prezidentske-2023/andrej-babis.jpg
  data/avatars/prezidentske-2023/danuse-nerudova.jpg
  data/avatars/prezidentske-2023/jaroslav-basta.jpg
  data/avatars/prezidentske-2023/josef-stredula.jpg
  data/avatars/prezidentske-2023/karel-divis.jpg
  data/avatars/prezidentske-2023/marek-hilser.jpg
  data/avatars/prezidentske-2023/pavel-fischer.jpg
  data/avatars/prezidentske-2023/petr-pavel.jpg
  data/avatars/prezidentske-2023/tomas-zima.jpg
  data/kalkulacka/prezidentske-2023/pro-kazdeho.json
  data/kalkulacka/prezidentske-2023/pro-mlade.json
  data/kalkulacka/prezidentske-2023/pro-nadsence.json
Labels: data

#398 Update questions data
  data/kalkulacka/calculators.json
  data/kalkulacka/prezidentske-2023/pro-kazdeho.json
  data/kalkulacka/prezidentske-2023/pro-mlade.json
  data/kalkulacka/prezidentske-2023/pro-nadsence.json
Labels: data

#399 Hotfix overflow on recap question card
  frontend/src/routes/recap/RecapQuestionCard.vue
Labels: bug, frontend

#400 Rename OG image
  frontend/index.html
  frontend/public/images/og-image-2023.png
Labels: bug, frontend

#403 PascalCase is not camelCase
  frontend/docs/embedding.md
  frontend/docs/theming.md
Labels: bug, documentation

#405 Add Deník embed
  frontend/src/components/embeds/DenikEmbed.vue
  frontend/src/components/themes/DenikTheme.scss
  frontend/src/components/themes/DenikTheme.vue
Labels: frontend, embed

#402 Add ČT24 and A2larm embed
  frontend/src/components/embeds/A2larmEmbed.vue
  frontend/src/components/embeds/Ct24Embed.vue
  frontend/src/components/themes/A2larmTheme.scss
  frontend/src/components/themes/A2larmTheme.vue
  frontend/src/components/themes/Ct24Theme.scss
  frontend/src/components/themes/Ct24Theme.vue
Labels: frontend, embed

#406 Send no election data error to New Relic
  frontend/src/stores/electionStore.ts
Labels: bug, frontend

#408 Update wrong answer
  data/kalkulacka/prezidentske-2023/pro-kazdeho.json
  data/kalkulacka/prezidentske-2023/pro-nadsence.json
Labels: data
