Repository cesko-digital/volebni-kalkulacka-2022, pull requests merged in 2022-08, with the labels that each got.

#4 Refresh Vue.js setup
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.prettierrc.yaml
  frontend/README.md
  frontend/babel.config.js
  frontend/cypress.config.ts
  frontend/cypress/e2e/example.cy.ts
  frontend/cypress/e2e/tsconfig.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/env.d.ts
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/logo.png
  frontend/src/assets/logo.svg
  frontend/src/assets/main.css
  frontend/src/components/HelloWorld.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/components/__tests__/HelloWorld.spec.ts
  frontend/src/components/icons/IconCommunity.vue
  frontend/src/components/icons/IconDocumentation.vue
  frontend/src/components/icons/IconEcosystem.vue
  frontend/src/components/icons/IconSupport.vue
  frontend/src/components/icons/IconTooling.vue
  frontend/src/main.js
  frontend/src/main.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.config.json
  frontend/tsconfig.json
  frontend/tsconfig.vitest.json
  frontend/vite.config.ts
  frontend/vue.config.js
  frontend/yarn.lock
Labels: devops, frontend

#11 VK-84 create icon buttons
  frontend/.prettierrc.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/IconButton.vue
  frontend/src/components/IndexPage.vue
  frontend/src/components/icons/IconStarFilled.vue
  frontend/src/components/icons/IconStarOutlined.vue
Labels: frontend

#12 Add theme provider
  frontend/docs/theming.md
  frontend/src/App.vue
  frontend/src/components/IndexPage.vue
  frontend/src/components/ThemeKey.ts
  frontend/src/components/ThemeProvider.vue
  frontend/src/components/ThemeProviderWrapper.vue
  frontend/src/components/ThemeSwitcher.vue
  frontend/src/components/themes/BlueExampleTheme.scss
  frontend/src/components/themes/BlueExampleTheme.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/components/themes/DefaultTheme.vue
Labels: frontend

#5 Add typography components
  frontend/index.html
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/main.css
  frontend/src/assets/reset.css
  frontend/src/components/IndexPage.vue
  frontend/src/components/ThemeSwitcher.vue
  frontend/src/components/design-system/typography/BodyText.vue
  frontend/src/components/design-system/typography/ButtonText.vue
  frontend/src/components/design-system/typography/HeadlineText.vue
  frontend/src/components/design-system/typography/LabelText.vue
  frontend/src/components/design-system/typography/SimpleText.vue
  frontend/src/components/design-system/typography/TitleText.vue
  frontend/src/components/themes/BlueExampleTheme.scss
  frontend/src/components/themes/BlueExampleTheme.vue
  frontend/src/components/themes/DefaultTheme.scss
Labels: frontend

#17 Fix inheritance in typography components
  frontend/src/components/design-system/typography/BodyText.vue
  frontend/src/components/design-system/typography/ButtonText.vue
  frontend/src/components/design-system/typography/HeadlineText.vue
  frontend/src/components/design-system/typography/LabelText.vue
  frontend/src/components/design-system/typography/TitleText.vue
Labels: bug, frontend

#16 Add design system spacings
  frontend/src/components/themes/DefaultTheme.scss
Labels: frontend

#15 Add design system colors
  frontend/src/components/themes/DefaultTheme.scss
Labels: frontend

#21 Refactor/fix tokens & add transparency
  frontend/src/components/themes/DefaultTheme.scss
Labels: frontend

#20 VK-108 Add vector icons
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/IndexPage.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/design-system/icons/IconComponent.vue
  frontend/src/components/design-system/icons/index.ts
  frontend/src/components/design-system/icons/vkiCheckbox.ts
  frontend/src/components/design-system/icons/vkiCheckboxChecked.ts
  frontend/src/components/design-system/icons/vkiCheckboxIndeterminate.ts
  frontend/src/components/design-system/icons/vkiLogoAgainst.ts
  frontend/src/components/design-system/icons/vkiLogoInFavour.ts
  frontend/src/components/design-system/icons/vkiLogoNeutral.ts
  frontend/src/components/design-system/icons/vkiStarFilled.ts
  frontend/src/components/design-system/icons/vkiStarOutlined.ts
  frontend/src/components/icons/IconCommunity.vue
  frontend/src/components/icons/IconDocumentation.vue
  frontend/src/components/icons/IconEcosystem.vue
  frontend/src/components/icons/IconStarFilled.vue
  frontend/src/components/icons/IconStarOutlined.vue
  frontend/src/components/icons/IconSupport.vue
  frontend/src/components/icons/IconTooling.vue
Labels: frontend

#28 Add color to typography components
  frontend/src/components/IndexPage.vue
  frontend/src/components/design-system/typography/BodyText.vue
  frontend/src/components/design-system/typography/ButtonText.vue
  frontend/src/components/design-system/typography/HeadlineText.vue
  frontend/src/components/design-system/typography/LabelText.vue
  frontend/src/components/design-system/typography/SimpleText.vue
  frontend/src/components/design-system/typography/TitleText.vue
Labels: frontend

#30 VK-132 Add container skeleton
  frontend/src/components/design-system/containers/ContainerComponent.vue
Labels: frontend

#14 Add skeleton app and routing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/ConfirmModal.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/main.ts
  frontend/src/routes/comparison/ComparisonPage.vue
  frontend/src/routes/district-selection/DistrictSelection.vue
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuideBottomBar.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/index/IndexPage.vue
  frontend/src/routes/question/QuestionBottomBar.vue
  frontend/src/routes/question/QuestionCard.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapNavBar.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.vitest.json
  frontend/vite.config.ts
  package-lock.json
Labels: frontend

#32 VK-133 Add tag skeleton
  frontend/src/components/design-system/containers/TagComponent.vue
Labels: frontend

#26 VK-114 Add card
  frontend/src/components/design-system/containers/CardComponent.vue
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#33 VK-169 Add style pill
  frontend/src/components/design-system/containers/PillComponent.vue
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#37 Add all buttons
  frontend/src/components/design-system/icons/IconComponent.vue
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/components/design-system/typography/ButtonText.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#36 VK-115 Style container
  frontend/src/components/design-system/containers/ContainerComponent.vue
Labels: frontend

#46 Add various skeletons
  frontend/src/components/design-system/other/StepProgress.vue
  frontend/src/components/design-system/style/BackgroundComponent.vue
  frontend/src/components/design-system/style/LogoComponent.vue
  frontend/src/components/design-system/typography/HeadingComponent.vue
Labels: frontend

#35 Vk84 icon buttons
  frontend/src/components/IconButton.vue
  frontend/src/components/design-system/icons/IconComponent.vue
  frontend/src/components/design-system/input/IconButton.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#50 Vk203 switch router
  frontend/.gitignore
  frontend/package.json
  frontend/public/testdata/kalkulacka/calculators.json
  frontend/public/testdata/kalkulacka/komunalni-2022/123456.json
  frontend/public/testdata/kalkulacka/komunalni-2022/345678.json
  frontend/public/testdata/kalkulacka/senatni-2022/51.json
  frontend/public/testdata/kalkulacka/senatni-2022/61.json
  frontend/public/testdata/kalkulacka/senatni-2022/71.json
  frontend/src/components/NavBar.vue
  frontend/src/main.ts
  frontend/src/stores/electionStore.ts
Labels: bug, enhancement, frontend

#48 VK-160 Add style heading component
  frontend/src/components/design-system/typography/HeadingComponent.vue
  frontend/src/components/design-system/typography/HeadlineText.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#49 VK-116 Add style progress indicator
  frontend/src/components/design-system/other/StepProgress.vue
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#53 VK-89 Add navbar
  frontend/src/components/design-system/containers/ContainerComponent.vue
  frontend/src/components/design-system/navigation/NavigationBar.vue
Labels: frontend

#54 VK-90 Add bottom bar
  frontend/src/components/design-system/navigation/BottomBar.vue
Labels: frontend

#42 Add icon badge component
  frontend/src/components/design-system/icons/IconBadge.vue
  frontend/src/routes/index/IndexPage.vue
Labels: frontend
