Repository cesko-digital/volebni-kalkulacka-2022, pull requests merged in 2022-09, with the labels that each got.

#56 VK-142 + VK-166 Add progress bar
  frontend/src/components/design-system/other/ProgressBar.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#55 VK-135 + VK-35 Add modal
  frontend/src/components/design-system/input/IconButton.vue
  frontend/src/components/design-system/other/ModalComponent.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#52 VK-165 + VK-134 Add accordion
  frontend/src/components/WantToKnowMore.vue
  frontend/src/components/design-system/containers/AccordionComponent.vue
  frontend/src/components/design-system/containers/CardComponent.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#59 Refactor views to use layout
  frontend/src/App.vue
  frontend/src/assets/main.css
  frontend/src/components/NavBar.vue
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/components/design-system/layout/BottomBarWrapper.vue
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/main.ts
  frontend/src/routes/district-selection/DistrictSelection.vue
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/index/IndexPage.vue
  frontend/src/routes/question/QuestionBottomBar.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
Labels: frontend

#63 Various fixes
  frontend/src/components/design-system/icons/IconComponent.vue
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/components/design-system/input/IconButton.vue
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/components/design-system/other/ModalComponent.vue
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#65 VK-179 Add secondary navigation bar
  frontend/src/components/design-system/icons/index.ts
  frontend/src/components/design-system/icons/vkiLogoPercent.ts
  frontend/src/components/design-system/navigation/SecondaryNavigationBar.vue
  frontend/src/routes/recap/RecapNavBar.vue
  frontend/src/routes/recap/RecapPage.vue
Labels: frontend

#60 Style links
  frontend/src/assets/reset.css
  frontend/src/components/design-system/typography/BodyText.vue
Labels: frontend

#61 VK-99 Implement guide
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/components/design-system/layout/BottomBarWrapper.vue
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/components/design-system/layout/StepWrapper.vue
  frontend/src/components/design-system/typography/BodyText.vue
  frontend/src/routes/guide/GuideBottomBar.vue
  frontend/src/routes/guide/GuidePage.vue
Labels: frontend

#64 Reimplement question bottom bar
  frontend/src/routes/question/QuestionBottomBar.vue
  frontend/src/routes/question/QuestionPage.vue
Labels: frontend

#68 Extend dummy data
  data/kalkulacka/calculators.json
  data/kalkulacka/senatni-2022/10.json
  data/kalkulacka/senatni-2022/13.json
  data/kalkulacka/senatni-2022/16.json
Labels: frontend

#69 VK-192 Update step wrapper
  frontend/src/components/design-system/layout/StepWrapper.vue
  frontend/src/main.ts
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/stores/electionStore.ts
Labels: frontend

#70 VK-92 Implement question card
  frontend/src/components/design-system/containers/CardComponent.vue
  frontend/src/components/design-system/typography/HeadingComponent.vue
  frontend/src/routes/question/QuestionCard.vue
  frontend/src/routes/question/QuestionPage.vue
Labels: frontend

#72 VK-101 Implement recap card
  frontend/src/components/design-system/containers/CardComponent.vue
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
Labels: frontend

#73 Added desktop modal styles
  frontend/src/components/design-system/other/ModalComponent.vue
  frontend/src/components/themes/DefaultTheme.scss
Labels: frontend

#74 Change logo text
  frontend/src/components/design-system/style/LogoComponent.vue
Labels: frontend

#81 Update frontend to match current API
  frontend/.prettierignore
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/types/calculator.d.ts
  frontend/src/types/calculators.d.ts
  frontend/src/types/candidate-answer.d.ts
  frontend/src/types/candidate.d.ts
  frontend/src/types/election.d.ts
Labels: frontend

#75 VK-181 Implement district selection
  frontend/src/components/design-system/input/RadioButtonComponent.vue
  frontend/src/components/design-system/navigation/SecondaryNavigationBar.vue
  frontend/src/components/design-system/typography/BodyText.vue
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
Labels: frontend

#79 Refactor guide to use routing
  frontend/src/main.ts
  frontend/src/routes/guide/GuidePage.vue
Labels: frontend

#82 Fix pre-commit
  .prettierignore
Labels: devops

#86 Implement navigation
  frontend/src/components/TabFilter.vue
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/components/design-system/navigation/SecondaryNavigationBar.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/result/ResultNavBar.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#80 VK-159 Add style background
  frontend/src/assets/background/check.svg
  frontend/src/assets/background/round-blue-spot-single.svg
  frontend/src/assets/background/round-blue-spot.svg
  frontend/src/assets/background/round-gray-spot.svg
  frontend/src/assets/background/round-red-spot-single.svg
  frontend/src/assets/background/round-red-spot.svg
  frontend/src/assets/background/round-white-spot.svg
  frontend/src/assets/background/spot_blue.svg
  frontend/src/assets/background/spot_red.svg
  frontend/src/assets/background/times.svg
  frontend/src/components/design-system/style/BackgroundComponent.vue
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/index/IndexPage.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#85 Add embed routing
  frontend/src/App.vue
  frontend/src/components/EmbedProvider.vue
  frontend/src/components/EmbedProviderWrapper.vue
  frontend/src/components/WebProvider.vue
  frontend/src/components/embeds/SeznamZpravyEmbed.vue
  frontend/src/components/themes/SeznamZpravyTheme.scss
  frontend/src/components/themes/SeznamZpravyTheme.vue
  frontend/src/main.ts
Labels: frontend

#89 Use router for links on home page
  frontend/src/routes/index/IndexPage.vue
Labels: bug, frontend

#90 Refactor result page
  frontend/src/components/design-system/containers/FilledCircle.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
  frontend/src/routes/result/ResultCandidateCard.vue
  frontend/src/routes/result/ResultCategory.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/src/routes/result/ResultSideBar.vue
Labels: frontend

#92 Share functionality
  backend/main.py
  frontend/package-lock.json
  frontend/parseRestSchemas.js
  frontend/src/common/restApi.ts
  frontend/src/common/share.ts
  frontend/src/main.ts
  frontend/src/routes/result/ResultPage.vue
  frontend/src/routes/share/SharePage.vue
  frontend/src/stores/electionStore.ts
  frontend/src/stores/themeStore.ts
  frontend/src/types/rest/Answer.d.ts
  frontend/src/types/rest/Answer.schema.json
  frontend/src/types/rest/Calculator.d.ts
  frontend/src/types/rest/Calculator.schema.json
  frontend/src/types/rest/Candidate.d.ts
  frontend/src/types/rest/Candidate.schema.json
  frontend/src/types/rest/Election.d.ts
  frontend/src/types/rest/Election.schema.json
  frontend/src/types/rest/ElectionType.d.ts
  frontend/src/types/rest/ElectionType.schema.json
  frontend/src/types/rest/HTTPValidationError.d.ts
  frontend/src/types/rest/HTTPValidationError.schema.json
  frontend/src/types/rest/Match.d.ts
  frontend/src/types/rest/Match.schema.json
  frontend/src/types/rest/ResultAdded.d.ts
  frontend/src/types/rest/ResultAdded.schema.json
  frontend/src/types/rest/ResultIn.d.ts
  frontend/src/types/rest/ResultIn.schema.json
  frontend/src/types/rest/ResultOut.d.ts
  frontend/src/types/rest/ResultOut.schema.json
  frontend/src/types/rest/ValidationError.d.ts
  frontend/src/types/rest/ValidationError.schema.json
  frontend/vite.config.ts
Labels: enhancement, frontend

#93 Add arrow to external links
  frontend/src/assets/main.css
Labels: frontend

#95 Remove paragraph margins
  frontend/src/assets/reset.css
Labels: frontend

#94 Add Markdown support
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/utilities/MarkdownIt.vue
  frontend/vite.config.ts
Labels: frontend

#100 Add hover to logo
  frontend/src/components/design-system/style/LogoComponent.vue
Labels: frontend

#88 Button fixes
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/routes/index/IndexPage.vue
Labels: bug, frontend

#103 Add responsive wrapper
  frontend/src/components/ThemeProvider.vue
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/components/responsivity/ResponsiveWrapper.vue
Labels: frontend

#105 Add embed wrapper
  frontend/src/components/EmbedKey.ts
  frontend/src/components/EmbedProvider.vue
  frontend/src/components/EmbedProviderWrapper.vue
  frontend/src/components/responsivity/EmbedWrapper.vue
Labels: frontend

#107 Fix blue buttons
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/recap/RecapPage.vue
Labels: bug, frontend

#108 Hidden responsivity components
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/components/design-system/navigation/BottomBar.vue
  frontend/src/components/design-system/style/BackgroundComponent.vue
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionBottomBar.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#110 Add responsive variables
  frontend/src/assets/breakpoints.scss
  frontend/src/components/design-system/containers/AccordionComponent.vue
  frontend/src/components/design-system/containers/CardComponent.vue
  frontend/src/components/design-system/containers/ContainerComponent.vue
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/components/responsivity/ResponsiveWrapper.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionBottomBar.vue
  frontend/src/routes/question/QuestionCard.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#111 Use non-breaking space instead of thin
  frontend/src/assets/main.css
Labels: bug, frontend

#112 Fix button hover on touch devices
  frontend/src/components/design-system/input/ButtonComponent.vue
  frontend/src/components/design-system/input/IconButton.vue
  frontend/src/routes/recap/RecapPage.vue
Labels: bug, frontend

#118 Refactor secondary navigation bar
  frontend/src/components/design-system/navigation/SecondaryNavigationBar.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#120 Refactor navigation bar
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/components/design-system/style/LogoComponent.vue
  frontend/src/components/design-system/typography/BodyText.vue
Labels: frontend

#121 Show district numbers
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/src/types/calculator.d.ts
  frontend/src/types/calculators.d.ts
  frontend/src/types/candidate-answer.d.ts
  frontend/src/types/candidate.d.ts
  frontend/src/types/election.d.ts
Labels: frontend

#128 Make SPA routes work on Vercel
  frontend/vercel.json
Labels: frontend

#125 Change route prefix
  frontend/src/main.ts
Labels: frontend

#97 Update copy
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#124 Various responsivity fixes
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/question/QuestionCard.vue
  frontend/src/routes/result/ResultCandidateCard.vue
Labels: frontend

#122 Comment out share button
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#130 Enhance results
  frontend/src/routes/result/ResultCandidateCard.vue
  frontend/src/routes/result/ResultCategory.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#131 Update embed setup
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/components/design-system/style/BackgroundComponent.vue
  frontend/src/components/design-system/style/LogoComponent.vue
  frontend/src/components/embeds/SeznamZpravyEmbed.vue
  frontend/src/components/responsivity/EmbedWrapper.vue
  frontend/src/components/themes/SeznamZpravyTheme.scss
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/error/ErrorPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#129 Reorder guide steps
  frontend/src/routes/guide/GuidePage.vue
Labels: frontend

#136 Remove category match from results
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#137 Responsive fixes vol. 2
  frontend/src/components/design-system/layout/StepWrapper.vue
  frontend/src/routes/question/QuestionPage.vue
Labels: frontend

#138 Add back to district
  frontend/src/routes/guide/GuidePage.vue
Labels: frontend

#139 Change skip buttons for embed
  frontend/src/routes/question/QuestionBottomBar.vue
Labels: frontend

#153 Fix intro text markdown
  frontend/src/routes/guide/GuidePage.vue
Labels: bug, frontend

#152 Revert & fix embed buttons
  frontend/src/routes/question/QuestionBottomBar.vue
Labels: frontend

#134 Set up Seznam Zprávy color theme
  frontend/src/components/themes/SeznamZpravyTheme.scss
Labels: frontend

#154 Add back to district again
  frontend/src/routes/guide/GuidePage.vue
Labels: bug, frontend

#151 Results: Save when page is loaded
  frontend/src/routes/result/ResultPage.vue
Labels: frontend

#158 Fix embed wrapper
  frontend/src/components/responsivity/EmbedWrapper.vue
Labels: bug

#159 Enhance question buttons on web
  frontend/src/routes/question/QuestionBottomBar.vue
Labels: frontend

#160 Hide expand button when there are no more candidates
  frontend/src/routes/result/ResultCategory.vue
Labels: bug, frontend

#155 Enhance responsivity
  frontend/src/components/design-system/containers/TagComponent.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
  frontend/src/routes/result/ResultCandidateCard.vue
Labels: frontend

#156 VK-130 Add status bar
  frontend/src/components/design-system/other/StatusBarComponent.vue
  frontend/src/routes/about-elections/AboutElectionsPage.vue
  frontend/src/routes/question/QuestionPage.vue
Labels: frontend

#165 colors for blesk
  frontend/src/components/embeds/BleskEmbed.vue
  frontend/src/components/themes/BleskTheme.scss
  frontend/src/components/themes/BleskTheme.vue
Labels: frontend

#169 result card styling fix, header msg, footer msg
  frontend/src/routes/result/ResultCandidateCard.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/vite.config.ts
Labels: enhancement, frontend

#171 results card bugfix
  frontend/src/routes/result/ResultCandidateCard.vue
  frontend/src/routes/result/ResultPage.vue
Labels: bug, frontend

#167 colors for idnes
  frontend/src/components/embeds/IdnesEmbed.vue
  frontend/src/components/themes/IdnesTheme.scss
  frontend/src/components/themes/IdnesTheme.vue
Labels: frontend

#176 Remove debugging from production
  frontend/vite.config.ts
Labels: frontend

#175 Refactor divider
  frontend/src/components/design-system/containers/DividerComponent.vue
Labels: frontend

#182 config changes
  backend/main.py
  frontend/.env.vercel
  frontend/env.d.ts
  frontend/package.json
  frontend/src/env.d.ts
  frontend/tsconfig.config.json
  frontend/vercel.json
  frontend/vite.config.ts
Labels: enhancement

#166 Use navigation bar component again on home page
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#192 Generating data - 2022-09-16 10:00
  data/kalkulacka/komunalni-2022/549240.json
  data/kalkulacka/komunalni-2022/554481.json
  data/kalkulacka/komunalni-2022/554791.json
  data/kalkulacka/senatni-2022/10.json
Labels: data generation

#178 Social sharing
  frontend/package-lock.json
  frontend/package.json
  frontend/parseRestSchemas.js
  frontend/src/common/restApi.ts
  frontend/src/common/resultParser.ts
  frontend/src/common/share.ts
  frontend/src/components/ErrorModal.vue
  frontend/src/components/design-system/input/IconButton.vue
  frontend/src/components/design-system/other/ModalComponent.vue
  frontend/src/main.ts
  frontend/src/routes/result/ResultPage.vue
  frontend/src/routes/result/ResultShareModal.vue
  frontend/src/routes/share/SharePage.vue
  frontend/src/stores/electionStore.ts
  frontend/vercel.json
  frontend/vite.config.ts
Labels: enhancement, frontend

#199 Add candidate answer comments
  frontend/src/routes/comparison/ComparisonGrid.vue
Labels: frontend

#201 Generating data - 2022-09-18 17:00
  data/avatars/senatni-2022/46/senatni-2022-46-c-490291-original.jpg
  data/avatars/senatni-2022/58/senatni-2022-58-c-630883-face.jpg
  data/avatars/senatni-2022/58/senatni-2022-58-c-630883-original.jpg
  data/kalkulacka/komunalni-2022/505927.json
  data/kalkulacka/komunalni-2022/533165.json
  data/kalkulacka/komunalni-2022/554804.json
  data/kalkulacka/komunalni-2022/563889.json
  data/kalkulacka/senatni-2022/46.json
  data/kalkulacka/senatni-2022/52.json
  data/kalkulacka/senatni-2022/58.json
Labels: data generation

#216 Generating data - 2022-09-21 08:30
  data/kalkulacka/senatni-2022/46.json
  data/kalkulacka/senatni-2022/73.json
Labels: data generation

#217 Add avatars
  frontend/src/components/design-system/containers/FilledCircle.vue
  frontend/src/components/design-system/other/AvatarComponent.vue
  frontend/src/components/themes/DefaultTheme.scss
  frontend/src/routes/comparison/ComparisonGrid.vue
  frontend/src/routes/result/ResultCandidateCard.vue
Labels: frontend

#219 Update calculators home page copy
  frontend/src/routes/index/IndexPage.vue
Labels: frontend

#222 Bugfix/answer undefined
  frontend/src/routes/comparison/ComparisonGrid.vue
  frontend/src/types/newrelic.d.ts
Labels: bug

#223 Generating data - 2022-09-25 10:30
  data/avatars/parties/98-pravy-blok.jpg
  data/avatars/senatni-2022/40/senatni-2022-40-c-914940-face.jpg
  data/avatars/senatni-2022/40/senatni-2022-40-c-914940-original.jpg
  data/kalkulacka/komunalni-2022/554782.json
  data/kalkulacka/komunalni-2022/562335.json
  data/kalkulacka/senatni-2022/40.json
  data/kalkulacka/senatni-2022/43.json
  data/kalkulacka/senatni-2022/46.json
  data/kalkulacka/senatni-2022/64.json
Labels: data generation

#226 Candidate filter
  frontend/src/components/design-system/input/CheckboxComponent.vue
  frontend/src/routes/result/ResultPage.vue
Labels: enhancement, frontend

#225 Read active field from Google sheet
  backend/converter.py
  data/kalkulacka/senatni-2022/1.json
  data/kalkulacka/senatni-2022/10.json
  data/kalkulacka/senatni-2022/13.json
  data/kalkulacka/senatni-2022/16.json
  data/kalkulacka/senatni-2022/19.json
  data/kalkulacka/senatni-2022/22.json
  data/kalkulacka/senatni-2022/25.json
  data/kalkulacka/senatni-2022/28.json
  data/kalkulacka/senatni-2022/31.json
  data/kalkulacka/senatni-2022/34.json
  data/kalkulacka/senatni-2022/37.json
  data/kalkulacka/senatni-2022/4.json
  data/kalkulacka/senatni-2022/40.json
  data/kalkulacka/senatni-2022/43.json
  data/kalkulacka/senatni-2022/46.json
  data/kalkulacka/senatni-2022/49.json
  data/kalkulacka/senatni-2022/52.json
  data/kalkulacka/senatni-2022/55.json
  data/kalkulacka/senatni-2022/58.json
  data/kalkulacka/senatni-2022/61.json
  data/kalkulacka/senatni-2022/64.json
  data/kalkulacka/senatni-2022/67.json
  data/kalkulacka/senatni-2022/7.json
  data/kalkulacka/senatni-2022/70.json
  data/kalkulacka/senatni-2022/73.json
  data/kalkulacka/senatni-2022/76.json
  data/kalkulacka/senatni-2022/79.json
Labels: data generation
