Repository cesko-digital/volebni-kalkulacka-2022, pull requests merged in 2023-09, with the labels that each got.

#580 Fix calculator schema
  data/package-lock.json
  data/schemas/calculator.schema.json
  data/types/calculator.ts
  data/types/calculatorGroup.ts
  data/types/calculatorGroups.ts
  data/types/calculators.ts
Labels: bug, data

#581 Fix Slovak national voting data
  data/instance/volebnakalkulacka.sk/nrsr-2023/calculator-group.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/election.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/inventura-2020-2023/calculator.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/inventura-2020-2023/candidates-answers.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/inventura-2020-2023/candidates.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/inventura-2020-2023/organizations.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/inventura-2020-2023/persons.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/inventura-2020-2023/questions.json
  data/kalkulacka/calculators.json
Labels: bug, data

#585 Add Docker Compose for development
  frontend/.env.development
  frontend/.env.development.local.example
  frontend/docker-compose.yaml
Labels: devops

#586 Resetup E2E tests
  .github/workflows/e2e-tests.yaml
  frontend/.env.test
  frontend/.eslintrc.cjs
  frontend/cypress.config.js
  frontend/cypress/e2e/example.cy.ts
  frontend/cypress/e2e/tsconfig.json
  frontend/cypress/support/commands.ts
  frontend/package.json
Labels: devops

#583 Refactor data fetching vol. 1
  data/kalkulacka/calculators.json
  data/types/calculator.ts
  frontend/src/common/dataFetch.ts
  frontend/src/common/restApi.ts
  frontend/src/components/design-system/containers/ElectionCardComponent.vue
  frontend/src/main.ts
  frontend/src/routes/comparison/ComparisonPage.vue
  frontend/src/routes/district-selection/DistrictSelectionPage.vue
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/index/IndexPage.vue
  frontend/src/routes/profile/ElectionCardWrapperComponent.vue
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/src/routes/share/SharePage.vue
  frontend/src/stores/electionStore.ts
  frontend/src/types/calculators.d.ts
Labels: frontend, refactoring

#590 Add more schema attributes
  data/schemas/calculator.schema.json
  data/schemas/candidate.schema.json
  data/schemas/election.schema.json
  data/schemas/organization.schema.json
  data/schemas/question.schema.json
  data/schemas/tags.schema.json
  data/types/calculator.ts
  data/types/candidate.ts
  data/types/candidates.ts
  data/types/organization.ts
  data/types/organizations.ts
  data/types/question.ts
  data/types/questions.ts
  data/types/tags.ts
Labels: data, refactoring

#591 Fix schemas
  data/schemas/calculator.schema.json
  data/schemas/election.schema.json
  data/types/calculator.ts
  data/types/calculators.ts
  data/types/election.ts
  data/types/elections.ts
Labels: bug, data

#594 Bring back comparison (still a hack)
  frontend/src/routes/result/ResultPage.vue
Labels: frontend, refactoring

#593 Fix tag filter translation
  frontend/src/components/QuestionTagFilter.vue
  frontend/src/i18n/locales/cs.json
  frontend/src/i18n/locales/sk.json
Labels: bug, frontend

#595 Fix Slovak recap URL
  frontend/cypress/e2e/integrations/flow.cy.ts
  frontend/src/main.ts
Labels: bug, frontend

#592 Refactor data fetching vol. 2
  data/instance/volebnakalkulacka.sk/nrsr-2023/inventura-2020-2023/calculator.json
  frontend/src/common/dataFetch.ts
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/types/calculator.d.ts
  frontend/src/types/candidate.d.ts
Labels: frontend, refactoring

#596 Fix typo in translation token
  frontend/src/routes/result/ResultCandidateCard.vue
Labels: bug, frontend

#597 Add hack with expert answers
  frontend/src/common/dataFetch.ts
  frontend/src/common/resultParser.ts
  frontend/src/routes/comparison/ComparisonGrid.vue
  frontend/src/routes/result/ResultCandidateCard.vue
  frontend/src/routes/result/ResultCategory.vue
  frontend/src/types/calculator.d.ts
Labels: frontend

#589 Add data for Slovak youth calculator
  data/instance/volebnakalkulacka.sk/nrsr-2023/pre-mladych/calculator.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/pre-mladych/candidates-answers.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/pre-mladych/candidates.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/pre-mladych/organizations.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/pre-mladych/questions.json
  data/kalkulacka/calculators.json
Labels: data

#600 Prefer organization short name in results
  frontend/src/common/dataFetch.ts
Labels: enhancement

#588 Update Slovak home for youth calculator launch
  frontend/cypress/e2e/components/landingPage.ts
  frontend/src/routes/index/IndexPage.vue
Labels: enhancement, web

#599 Update Slovak data and translations again
  data/instance/volebnakalkulacka.sk/nrsr-2023/pre-mladych/calculator.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/pre-mladych/questions.json
  frontend/src/i18n/locales/sk.json
Labels: frontend, data

#604 Fix Slovak homepage copy
  frontend/src/routes/index/IndexPage.vue
Labels: bug, frontend

#609 Add images to schemas
  data/schemas/candidate.schema.json
  data/schemas/images.schema.json
  data/schemas/organization.schema.json
  data/schemas/person.schema.json
  frontend/docs/data.md
Labels: data

#610 Add support for loading images to data fetching
  frontend/src/common/dataFetch.ts
Labels: frontend, refactoring

#608 Add images for Slovak grand calculator
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/0dabaf4d-0687-4b3b-b44c-a44d9972e78d.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/1b5c96f2-7620-41ad-b4d3-dc2f3595f4b8.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/1f227908-6906-4e87-b8db-529e9a4f5e4b.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/2ff482f3-4fe4-4c09-9252-8f30abb76d80.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/3d274e58-68a1-47bd-8277-0ac6cdc15f76.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/3db546c1-6c44-42b4-b6ea-c55d5d0fa9f6.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/4a18edd8-4e58-4680-a4fd-745f57031fe0.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/6d99a059-d359-419b-86c8-fb6d78df747e.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/7915ae11-fc93-4cd1-aa5c-d26ec3b72efa.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/7dfc9336-c1dc-4978-b5bf-f829920192af.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/add94ff3-e6f8-4079-85f6-398dabf8ddbd.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/cb485833-205b-4e14-bc24-32dfadabd133.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/e200afc9-af5a-41ac-9170-38ea2b29f11d.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/ecb6b7ad-540c-4af9-b5bf-83a7a1c5f359.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/eeffad10-e80c-456f-94e5-eff097aaf0e5.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/f781933f-c2ca-4ae8-8cb3-8d8002db80d8.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/images/candidates/fe80fdfd-fc77-480b-93f2-1234bcf82fb0.webp
  data/instance/volebnakalkulacka.sk/nrsr-2023/kalkulacka/candidates.json
  data/instance/volebnakalkulacka.sk/nrsr-2023/pre-mladych/candidates.json
Labels: data

#606 Add grand calculator to Slovak home
  frontend/src/routes/index/IndexPage.vue
Labels: enhancement, frontend

#619 Add subscribe form to result page
  frontend/src/routes/result/ResultPage.vue
Labels: enhancement, frontend
