Repository cesko-digital/volebni-kalkulacka-2022, pull requests merged in 2023-01, with the labels that each got.

#411 Make answer buttons togglable
  frontend/src/routes/question/QuestionPage.vue
Labels: enhancement, frontend

#421 Setup staging environment
  .github/workflows/clean-up-preview-database.yaml
  frontend/package.json
  frontend/src/server/prisma.ts
  frontend/vercel-build.sh
  frontend/vercel.development.json
  vercel.development.json
Labels: devops

#431 Fix wrong `vercel dev` config path
  frontend/package.json
Labels: bug, devops

#418 Update question gists
  data/kalkulacka/prezidentske-2023/pro-kazdeho.json
  data/kalkulacka/prezidentske-2023/pro-nadsence.json
Labels: data

#417 Add Sign-in / Login buttons to NavigationBar
  frontend/src/components/design-system/navigation/NavigationBar.stories.ts
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/components/design-system/other/AvatarComponent.vue
Labels: frontend

#438 Update NázoryPolitiků.cz copy
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/index/IndexPage.vue
Labels: enhancement, frontend

#414 Handle database exceptions on API
  frontend/api/answers/[id].ts
  frontend/api/answers/index.ts
  frontend/src/server/errors.ts
  frontend/src/server/prisma.ts
Labels: backend, refactoring

#436 Keep random order consistent across pages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/resultParser.ts
Labels: bug, frontend

#435 Style `ErrorPage` and enhance error flow
  frontend/src/assets/error/not-found.svg
  frontend/src/main.ts
  frontend/src/routes/error/ErrorPage.vue
  frontend/src/routes/share/SharePage.vue
Labels: bug, frontend

#412 Add completion count
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/routes/index/IndexPage.vue
Labels: enhancement, frontend, web

#441 Add icons to methodology
  frontend/src/components/FooterMultiWord.vue
  frontend/src/components/design-system/icons/IconBadge.vue
  frontend/src/env.d.ts
  frontend/src/routes/questions-methodology/QuestionsMethodologyPageVue.vue
  frontend/src/routes/questions-methodology/QuestionsMethodologyText.md
Labels: frontend, web

#409 Update About us page
  frontend/src/routes/about-us/AboutUsPage.vue
Labels: frontend, web

#446 Add labels to question navigation buttons
  frontend/src/routes/question/QuestionPage.vue
Labels: enhancement, frontend

#420 Add profile and OAuth login
  frontend/.env.development.local.example
  frontend/.env.production
  frontend/.env.test
  frontend/api/answers/[id].ts
  frontend/api/answers/index.ts
  frontend/api/auth/index.ts
  frontend/api/users/me.ts
  frontend/docs/development.md
  frontend/package-lock.json
  frontend/package.json
  frontend/prisma/migrations/20230102114116_add_user/migration.sql
  frontend/prisma/migrations/20230104153350_make_email_optional/migration.sql
  frontend/prisma/migrations/20230106095749_on_user_delete_remove_his_answers/migration.sql
  frontend/prisma/migrations/20230107124009_rename_name_to_display_name/migration.sql
  frontend/prisma/schema.prisma
  frontend/src/server/answers.ts
  frontend/src/server/auth.ts
  frontend/src/server/errors.ts
  frontend/src/server/prisma.ts
  frontend/vercel.development.json
  frontend/vercel.json
  vercel.development.json
Labels: backend, feature

#453 Fix low resolution home page images
  frontend/src/assets/prezidenti-2023/cand-andrej-babis-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-andrej-babis-1x.webp
  frontend/src/assets/prezidenti-2023/cand-andrej-babis-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-andrej-babis-2x.webp
  frontend/src/assets/prezidenti-2023/cand-andrej-babis-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-andrej-babis-3x.webp
  frontend/src/assets/prezidenti-2023/cand-danuse-nerudova-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-danuse-nerudova-1x.webp
  frontend/src/assets/prezidenti-2023/cand-danuse-nerudova-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-danuse-nerudova-2x.webp
  frontend/src/assets/prezidenti-2023/cand-danuse-nerudova-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-danuse-nerudova-3x.webp
  frontend/src/assets/prezidenti-2023/cand-jaroslav-basta-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-jaroslav-basta-1x.webp
  frontend/src/assets/prezidenti-2023/cand-jaroslav-basta-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-jaroslav-basta-2x.webp
  frontend/src/assets/prezidenti-2023/cand-jaroslav-basta-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-jaroslav-basta-3x.webp
  frontend/src/assets/prezidenti-2023/cand-josef-stredula-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-josef-stredula-1x.webp
  frontend/src/assets/prezidenti-2023/cand-josef-stredula-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-josef-stredula-2x.webp
  frontend/src/assets/prezidenti-2023/cand-josef-stredula-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-josef-stredula-3x.webp
  frontend/src/assets/prezidenti-2023/cand-karel-divis-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-karel-divis-1x.webp
  frontend/src/assets/prezidenti-2023/cand-karel-divis-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-karel-divis-2x.webp
  frontend/src/assets/prezidenti-2023/cand-karel-divis-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-karel-divis-3x.webp
  frontend/src/assets/prezidenti-2023/cand-marek-hilser-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-marek-hilser-1x.webp
  frontend/src/assets/prezidenti-2023/cand-marek-hilser-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-marek-hilser-2x.webp
  frontend/src/assets/prezidenti-2023/cand-marek-hilser-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-marek-hilser-3x.webp
  frontend/src/assets/prezidenti-2023/cand-pavel-fischer-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-pavel-fischer-1x.webp
  frontend/src/assets/prezidenti-2023/cand-pavel-fischer-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-pavel-fischer-2x.webp
  frontend/src/assets/prezidenti-2023/cand-pavel-fischer-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-pavel-fischer-3x.webp
  frontend/src/assets/prezidenti-2023/cand-petr-pavel-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-petr-pavel-1x.webp
  frontend/src/assets/prezidenti-2023/cand-petr-pavel-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-petr-pavel-2x.webp
  frontend/src/assets/prezidenti-2023/cand-petr-pavel-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-petr-pavel-3x.webp
  frontend/src/assets/prezidenti-2023/cand-tomas-zima-1x.jpg
  frontend/src/assets/prezidenti-2023/cand-tomas-zima-1x.webp
  frontend/src/assets/prezidenti-2023/cand-tomas-zima-2x.jpg
  frontend/src/assets/prezidenti-2023/cand-tomas-zima-2x.webp
  frontend/src/assets/prezidenti-2023/cand-tomas-zima-3x.jpg
  frontend/src/assets/prezidenti-2023/cand-tomas-zima-3x.webp
  frontend/src/routes/index/IndexPage.vue
Labels: bug, frontend

#448 Add tag and candidate filter to comparison
  frontend/.storybook/main.ts
  frontend/src/components/QuestionCandidateFilter.vue
  frontend/src/components/QuestionCard.vue
  frontend/src/components/QuestionTagFilter.vue
  frontend/src/components/design-system/containers/CardComponent.vue
  frontend/src/components/design-system/input/PillGroupComponent.stories.ts
  frontend/src/components/design-system/input/PillGroupComponent.vue
  frontend/src/components/design-system/input/PillGroupItemComponent.vue
  frontend/src/routes/comparison/ComparisonGrid.vue
  frontend/src/routes/comparison/ComparisonPage.vue
  frontend/src/stores/electionStore.ts
Labels: frontend, feature

#456 Add presidential election to about elections page
  frontend/src/components/FooterMultiWord.vue
  frontend/src/routes/about-elections/AboutElectionsPage.vue
Labels: frontend, web

#445 Bump dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, backend, dependencies

#440 Simplify new skip flow, update store and hide results if no answer
  frontend/src/components/design-system/other/StatusBarComponent.vue
  frontend/src/main.ts
  frontend/src/routes/question/QuestionPage.vue
  frontend/src/routes/recap/RecapPage.vue
  frontend/src/routes/recap/RecapQuestionCard.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/src/stores/electionStore.ts
Labels: bug, enhancement, frontend

#458 1 milion hit 🎉
  frontend/src/routes/index/IndexPage.vue
Labels: frontend, web

#457 Add basic login flow
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/components/design-system/navigation/NavigationBar.stories.ts
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/main.ts
  frontend/src/routes/index/IndexPage.vue
  frontend/src/routes/profile/LoginPageVue.vue
  frontend/src/routes/profile/ProfileCardComponent.vue
  frontend/src/routes/profile/ProfilePage.vue
  frontend/src/routes/profile/RegisterPageVue.vue
  frontend/src/routes/profile/SocialMediaConnectComponent.vue
  frontend/src/stores/userStore.ts
Labels: frontend, feature

#459 Add signed in user support to answers saving
  frontend/src/common/restApi.ts
  frontend/src/components/__tests__/utilities/embedding/EmbedProvider.spec.ts
  frontend/src/components/__tests__/utilities/embedding/WebProvider.spec.ts
  frontend/src/components/utilities/embedding/WebProvider.vue
  frontend/src/main.ts
  frontend/src/routes/profile/ProfileCardComponent.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/src/stores/electionStore.ts
  frontend/src/stores/userStore.ts
Labels: frontend, feature

#460 Save answers after sign up
  frontend/.env.development
  frontend/api/auth/index.ts
  frontend/src/routes/profile/LoginPageVue.vue
  frontend/src/routes/profile/RegisterPageVue.vue
  frontend/src/routes/profile/SocialMediaConnectComponent.vue
  frontend/src/routes/result/ResultPage.vue
Labels: frontend, feature

#462 Mark all candidates except Středula as active
  data/kalkulacka/prezidentske-2023/pro-kazdeho.json
  data/kalkulacka/prezidentske-2023/pro-mlade.json
  data/kalkulacka/prezidentske-2023/pro-nadsence.json
Labels: data

#461 Add list of calculators to user profile
  frontend/src/components/design-system/containers/ElectionCardComponent.vue
  frontend/src/components/design-system/containers/TimelineItemComponent.vue
  frontend/src/components/layouts/StaticContentLayout.vue
  frontend/src/routes/profile/ElectionCardWrapperComponent.vue
  frontend/src/routes/profile/ProfilePage.vue
Labels: frontend, feature

#465 Redirect from profile if not signed in
  frontend/src/routes/profile/ProfilePage.vue
Labels: bug, frontend

#463 Merge profile from staging
  frontend/.env.development
  frontend/api/auth/index.ts
  frontend/src/common/restApi.ts
  frontend/src/components/__tests__/utilities/embedding/EmbedProvider.spec.ts
  frontend/src/components/__tests__/utilities/embedding/WebProvider.spec.ts
  frontend/src/components/design-system/containers/ElectionCardComponent.vue
  frontend/src/components/design-system/containers/TimelineItemComponent.vue
  frontend/src/components/design-system/layout/StackComponent.vue
  frontend/src/components/design-system/navigation/NavigationBar.stories.ts
  frontend/src/components/design-system/navigation/NavigationBar.vue
  frontend/src/components/layouts/StaticContentLayout.vue
  frontend/src/components/utilities/embedding/WebProvider.vue
  frontend/src/main.ts
  frontend/src/routes/index/IndexPage.vue
  frontend/src/routes/profile/ElectionCardWrapperComponent.vue
  frontend/src/routes/profile/LoginPageVue.vue
  frontend/src/routes/profile/ProfileCardComponent.vue
  frontend/src/routes/profile/ProfilePage.vue
  frontend/src/routes/profile/RegisterPageVue.vue
  frontend/src/routes/profile/SocialMediaConnectComponent.vue
  frontend/src/routes/result/ResultPage.vue
  frontend/src/stores/electionStore.ts
  frontend/src/stores/userStore.ts
Labels: frontend, feature

#466 Add user ID index to answers table
  frontend/prisma/migrations/20230112202245_add_user_id_index_to_answers/migration.sql
  frontend/prisma/schema.prisma
Labels: backend

#467 Update privacy policy
  frontend/src/routes/data-protection/DataProtectionPage.vue
  frontend/src/routes/data-protection/PrivacyPolicy.md
Labels: frontend, web

#468 Add links to privacy policy
  frontend/src/routes/profile/LoginPageVue.vue
  frontend/src/routes/profile/RegisterPageVue.vue
Labels: enhancement, frontend

#469 Update home & candidates for 2nd round
  data/kalkulacka/prezidentske-2023/pro-kazdeho.json
  data/kalkulacka/prezidentske-2023/pro-mlade.json
  data/kalkulacka/prezidentske-2023/pro-nadsence.json
  frontend/src/routes/index/IndexPage.vue
Labels: enhancement, frontend, web, data

#472 Set only active candidates as default in comparison filter
  frontend/src/components/QuestionCandidateFilter.vue
Labels: enhancement, frontend

#476 Add 2nd round calculator
  data/kalkulacka/calculators.json
  data/kalkulacka/prezidentske-2023/pro-kazdeho-2-kolo.json
  frontend/src/routes/guide/GuidePage.vue
  frontend/src/routes/index/IndexPage.vue
  generator/generator/prezidentske_2023.py
Labels: frontend, data

#477 Fix comparison grid
  frontend/src/routes/comparison/ComparisonGrid.vue
Labels: bug
